* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#video {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}


body {
  background: url("background-fundo-ceu-preto.jpeg");
  animation: fade 1.5s linear;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
}


.header-bar {
  background-image: image-set("Planeta.jpeg");
  display: flex;
  width: 100%;
  height: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
  flex-flow: row wrap;
  animation: fade 3s linear;
  align-items: center;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.titulo h1{
  margin: 20px;
  color: white;
  letter-spacing: 5px;
}

.conteudo {
  display: flex;
  width: 100%;
  height: auto;
  flex-flow: column nowrap;
}


.conteudo h2 {
  color: white;
  margin: 20px;
  text-align: start;
}


.conteudo p {
  color: white;
  margin: 20px;
  text-align: start;
}


.planeta1 {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  flex-flow: row nowrap;
}

.planeta1 img {
  width: 30%;
  height: 30%;
  margin: 1%;
}


.planeta1 p {
  color: white;
}


@media (min-width: 1020px) {
  .header-bar {
    height: 400px;
  }
  .planeta1{
    display: flex;
    flex-flow: row nowrap;
  }
}
